h2 {
	font-size: 1.4em;
}

p {
	font-size: 1.2em;
}

a:hover {
	cursor: context-menu;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.table.table-striped > tbody > tr:hover > th,
.table.table-striped > tbody > tr:hover > td {
	background-color: lightgray;
}

.table.table-striped > thead > tr > th {
	background-color: lightgray;
	font-weight: bold;
}

.table.table-striped {
	border: 1px solid #E7E7ED;
}

.portlet-topper {
	display: none;
}

.bi.bi-arrow-left-short:hover {
	fill: #0b63ce;
}

.portlet-div {
	margin-left: 50px;
	margin-right: 50px;
}

.flexboxhorizontal {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;
}

.flexboxhorizontal .childcenter {
	flex-basis: 50%;
	text-align: center;
}

.flexboxhorizontal .childborder {
	padding: 4px;
	border: 2px solid #0b63ce;
	border-radius: 8px;
	flex: 1;
}

.flexboxvertical {
	padding: 0 6px 0 0;
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
}

.flexboxvertical > div {
	padding-top: 4px;
	margin: 0 0 8px 0;
	text-align: center;
	border: 2px solid #0b63ce;
	border-radius: 8px;
}

.roundborder {
	border: 2px solid #0b63ce;
	border-radius: 8px;
	flex-basis: 50%;
	text-align: center;
	padding-top: 20px;
}

.flexbuttons {
	display: flex;
	justify-content: space-between;
}

.dropdown-toggle {
	display: block;
	margin-right: 0;
	margin-left: auto;
	margin-bottom: 4px;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}

.fade:not(.show) {
	opacity: 1;
}