/* Investment plans list */

.investment-plans-list .table.table-striped > tbody > tr:hover > th,
.investment-plans-list .table.table-striped > tbody > tr:hover > td {
	background-color: lightgray;
}

.investment-plans-list .table.table-striped > thead > tr > th {
	background-color: lightgray;
	font-weight: bold;
}

.investment-plans-list .table.table-striped {
	border: 1px solid #E7E7ED;
}

.investment-plans-list .btn.new-investment-plan {
	display: block;
	margin-right: 0;
	margin-left: auto;
	margin-bottom: 4px;
}

/* Investment plan page */

.investment-plan-page h2 {
	font-size: 1.4em;
}

.investment-plan-page p {
	font-size: 1.2em;
}

.investment-plan-page .bi.bi-arrow-left-short:hover,
.investment-plan-form .bi.bi-arrow-left-short:hover {
	fill: #0b63ce;
}

.investment-plan-page .portlet-div {
	margin-left: 50px;
	margin-right: 50px;
}

.investment-plan-page .flex-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.investment-plan-page .flexboxhorizontal {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;
}

.investment-plan-page .flexboxhorizontal .childcenter {
	flex-basis: 50%;
	text-align: center;
}

.investment-plan-page .flexboxhorizontal .childborder {
	padding: 4px;
	flex-basis: 50%;
	border: 2px solid #0b63ce;
	border-radius: 8px;
}

.investment-plan-page .roundborder {
	border: 2px solid #0b63ce;
	border-radius: 8px;
	flex-basis: 50%;
	text-align: center;
	padding-top: 20px;
}

.investment-plan-page .roundborder .plan-info hr {
	border-top: 2px solid #0b63ce;
}

.investment-plan-page .controls {
	overflow: auto;
}

.investment-plan-page .btn.complete-milestone {
	margin-top: 0.3em;
	margin-right: 50px;
	margin-bottom: 1em;
}

/* New investment plan form */

.form-milestones .card.milestone-info {
	box-shadow: none;
	border-left: 5px solid #E7E7ED;
}

.form-milestones .card.milestone-info .delete-icon svg {
    transition: fill .10s ease-in-out;
}

.form-milestones .card.milestone-info .delete-icon:hover svg {
	fill: #c82333;
}

.milestone-diagram,
.milestone-description {
	flex-grow: 1;
}

.investment-plan-page .desc-count,
.investment-plan-form .desc-count {
	position: relative;
	color: #6B6C7E;
}

.investment-plan-form .milestone-description-form-group {
	padding-bottom: 0.5em;
}